.sellerpage{
    height:90vh;
    width:95vw;
    position: relative;
    left:25px;
    top:20px;
    display: grid;
    grid-template-columns: 1fr 4fr;
}
.sell{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8,1fr);
    row-gap: 60px;
    place-items: center;
}
.sellerpagemenu{
    color: black;
    font-weight: 800;
}
.div2{
    background-color:red;
}
.div3{
    background-color: blueviolet;
}