* {
  box-sizing: border-box;
}

.sellerpage {
  height: 90vh;
  width: 95vw;
  position: relative;
  left: 5px;
  top: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center; /* Add this line to vertically center align */
}

.div2,
.div3 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* Add padding to create space */
}

.image{
  width:100px;
  height:100px;
}

.form-container {
  text-align: center;
  margin: auto; /* Add this line to vertically center align */
  max-width: 400px; /* Adjust the max-width based on your design */
}
/* 

.sellerpage {
  height: 90vh;
  width: 95vw;
  position: relative;
  left: 5px;
  top: 5px;
  display: grid;
  grid-template-columns: 1fr 4fr;
} */

ul {
  list-style: none;
  padding: 0;
  margin: 0; /* Adjust margin for spacing between li elements */
  width: 100%;
}

li {
  padding: 15px; /* Add more padding for space */
  text-align: center;
  transition: background-color 0.3s;
}

.link {
  color: black;
  display: block;
  width: 100%;
  padding: 10px; /* Adjust padding for spacing within li */
  text-align: center;
  transition: color 0.3s;
  text-decoration: none;
}
.link:hover {
  color: rgb(38, 124, 205);
  text-decoration: none;
}

.form-container {
  text-align: center;
  margin: auto;
  max-width: 400px;
  width: 100%; /* Maintain width */
  padding: 20px; /* Add padding for space */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto 20px;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.camera-icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
  background-color: #333;
  padding: 5px;
  border-radius: 50%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  width: 45%;
  float: left;
  margin: 1%;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
button {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 16px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}