.header {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.container{
    /* background-color: beige; */
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.process{
    display: flex;
}

.lines{
    width:110px;
    top:15px;
    height:3px;
    background-color:rgb(248, 145, 163);
    position: relative;
}

.order-process-btn{
    background-color:rgb(248, 145, 163);
    width: auto;
    border-radius: 25px;
}
  