.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(244, 243, 243);
}

.center-div {
  width: 30%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: white;
}

.heading {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.content {
  width: 100%;
  padding-right: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

input {
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  height: 25px;
  width: 100%;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
}

.profile {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
}

.profile input {
  border: none;
}

.user-logo {
  height: 23px;
  width: 25px;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.avatar{
    color:blue;
}

.submit-btn {
  background-color: rgb(0, 119, 255);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: rgb(0, 119, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.error{
    color:red;
    font-size: 15px;
}

.sign-in {
  color: rgb(0, 119, 255);
}


